/* You can add global styles to this file, and also import other style files */


.owl-item, .owl-item img{
    height: 150px !important;
}

.owl-item img{
    width: 350px !important;
}
.owl-item{
    padding: 0 20px;
    margin: 0 !important;
}